.dashboard{
    display: flex;
}
.sidebar{
    width: 200px;
    background: blue;
    position: fixed;
    height: 100%;
}
.menu li{
    list-style-type: none;
    padding: .5em;
    cursor: pointer;
}
.link{
    color: white;
    text-decoration: none;
}
.link label{
    cursor: pointer;
}
.container{
    margin: 0 1em 0 220px;
}
.table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: .3em
}
.squad-link{
    cursor: pointer;
}
.squad{
    margin: 3em 0 0 10em;
    text-align: center;
}
.squad-table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: .3em
}
.all-table{
    display: flex;
    text-align: center
}
.live-score{
    text-align: center;
    margin: 2em 0 0 20em;
}
.live-score-table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: .3em
}
.score-card-link{
    cursor: pointer;
}
.message{
    /* text-align: center; */
    margin: 3em 0 0 20em;
}
.fielding-stats{
    display: flex;
}
.fielding-stats-table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: .3em
}
